/*remove padding from borders of default html site*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}

.box-background {

    position: absolute;
    width: 400px;
    height: 270px;
    background-color: gray;
    top:180px;
    left: 570px;
    border-radius: 150px;
    opacity: 0.4;
    border: 4px  solid black;
}

.box {
    position: absolute;
    top: 198px;
    left: 260px;
    z-index: 99999;
    padding-left: 390px;
    
}

input[type=text] {
    background-color: transparent;
    border:none;
    border-bottom: 2px solid green;
    width: 220px;
    height: 30px;
}

input[type=text]:focus {
    outline: none;
} 

input[type=email] {
    background-color: transparent;
    border:none;
    border-bottom: 2px solid green;
    width: 220px;
    height: 30px;
}

input[type=email]:focus {
    outline: none;
}
input[type=submit] {
    background-color: white;
    border: 2px solid green;
    width: 220px;
    height: 30px;
    border-radius: 122px;
}

input[type=submit]:focus {
    outline: none;
}

textarea{
    border: none;
    background-color: transparent;
    border-bottom: 3px solid green;
}

textarea:focus {
    outline: none;
}



::placeholder {
    font-weight: bold;
    color: white;
    font-size: 17px;
    text-align: center;
}










/*side nav bar*/
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgb(43, 43, 43);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  .burger-menu-btn {
    
    cursor: pointer;
    display: inline-block;
    z-index: 10;
    padding: 30px;
  
  }
  
  
  .burger-menu-1,
  .burger-menu-2,
  .burger-menu-3 {
    
    width:52px;
    height: 8px;
    margin: 12px 0;
    transition: 0.3s;
    background-color: rgb(71, 71, 71); 
  }
  
  .change .burger-menu-1 {
      transform: rotate(45deg) translate( 4px, 17px);
  }
  
  .change .burger-menu-2 {
      opacity: 0;
  }
  
  .change .burger-menu-3{
      transform: rotate(-45deg) translate(10px, -25px);
      
  } 
  /*
  .burger-menu-circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: red;
      z-index: 999 !important;
  }*/
  
  #burger-menu.open {
       width:25%;
  }
  
  #burger-menu {
       width:0%;
  }
  /*_____________________________________________*/

  .logos {
    position: absolute;
    top:  10px;
    left: 1600px;
   
    
  }
  
  .darken-logos {
    transition: 1s;
  }

  .logo-wrapper {
    display: inline;
  }

  .logo-wrapper:hover > .darken-logos {
    filter: brightness(30%);
    transition: 1s;
  }

  .wrapper {
    display: inline-block;

  }
  .wrapper:hover > .underline {
    border-bottom: 1px solid black;
    transition: 1s;

  }

  .underline {
    transition: 1s;
  }