@media screen and (min-width: 1281px) and (max-width: 1919px) { 
    .box  {
        background-color: rgba(255, 255, 255, .1);   
        width: 900px;
        height: 300px;
        margin: 400px auto;
        display: table;
        position: relative;
        border: solid 1px;
        font-family: Bebas Neue;
        color: white;									
      }
      
      .box p {
        text-align: center;
        font-size: 60px;
        font-family: Bebas Neue;
      }
      
      .My-skills {
        font-family: Bebas Neue;
        color: black;
        position: relative;
        z-index: 3;
        padding: 30px 0px 0px 0px;
        font-size: 50px;
        text-align: center;
      }

      form {
        position: relative;
        bottom: 120px;
        margin-left: 200px;
        display: table;
        margin: 0 auto;
      }
      
      #text {
        position: relative;
        z-index: 10;
        border: solid 1px;
        display: block;
        margin: 29px 0px 10px 485px;
        border-radius: 10px;
        padding: 8px;
        font-family: 'Times New Roman';
        
      }
      
      #email {
        position: relative;
        z-index: 10;
        border: solid 1px;
        display: block;
        margin: 29px 0px 10px 485px;
        border-radius: 10px;
        padding: 8px;
        font-family: 'Times New Roman';
      }
      
      #subject {
        position: relative;
        z-index: 10;
        border: solid 1px;
        display: block;
        margin: 29px 0px 10px 485px;
        border-radius: 10px;
        padding: 8px;
        font-family: 'Times New Roman';
        
      }
      
      #message {
        position: absolute;
        z-index: 10;
        border: solid 1px;
        bottom: -100px;
        left: 750px;
        display: inline;
        border-radius: 10px;
        margin: 0px 0px 100px 0px;
        padding: 8px;
        width: 190px;
        height: 149px;
        font-family: 'Times New Roman';
        resize: none;
      }
      
      #submit {
        position: absolute;
        z-index: 10;
        margin: 10px 0px 0px 570px;/*top right bottom left*/
        border: solid 1px;  
        border-radius: 10px;
        padding: 10px;
        width: 290px;
        background-color: black;
        color: white;
        font-weight: bolder;
        font-size: 30px;
        font-family: 'Times New Roman';
        
      }
      

      /*
      tester for elements positioning  *{
   background: #000 !important;
   color: #0f0 !important;
   outline: solid #f00 1px !important;
 }*/
} 