/*remove padding from borders of default html site*/
/*default css is written for 1920x1080*/
/*
*{
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    position: relative;
    z-index: -1;
    scroll-behavior: smooth;


}

img {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(119, 119, 118);
}



.main {
  position: relative;
  z-index: -2;
}
/*contact html styles*/
.container2 {
  position: relative;
  z-index: -2;
            }

/*parallax effect*/
.parallax-img1 {
   background-image: url("pics/1.jpg");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 1000px;
   position: relative;
   left: 0px;
   z-index: -10;

}
/*that is the first text that is shown when u enter the site (hey im svetozar gospodinov)*/
.white-text  {
	position: relative; 
	color: white;
	text-align: center;
	top: 490px;
  font-family: Bebas Neus ;
/*that is the lines before my name*/
}

.hey-name {
  position: relative; 
	color: white;
  text-align: center;
  font-size: 36px;
  top: 450px;							
}

.first-white-box-text {
  position: relative;
  top: 27px;
  right: 0px;							   
  font-family: Bebas Neue;
  color:black;
  font-size: 50px;

}

.white-box {
  position: relative;
  top: 891px;
  left: 0px;						 
  height:117px;
  background-color:white;
  font-size:36px;
  z-index: 2;
}
/*its used for the text in the second white blank space*/
.black-text {
	position: relative; ;
	color: black;
	text-align: center;
	font-size: 36px;

}

.line::before {
	position: relative;
	content: "___ ";
	top: -18px;
/*these are the lines after my name*/
}

.line::after {
	position: relative;
	content: " ___";
	top: -18px;

}


/*style the second h3 element(at the moment)*/
.line1 {
	font-size: 32px;
	padding:10px;
	font-family:'Lato'; 

}
/*its the second parallax effect*/
.parallax2-img2 {
  background-image: url("pics/2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1300px;
  position: relative;
  z-index: -91;

}

white-text-about-me {
  font-family: Bebas Neue;
  position: relative; 
  color: white;
  text-align: center;
  font-size: 36px;
}

.black-background {
  background-color: black;
  width: 1100px;
  height: 300px;
  position: relative;
  top: -229px;
  left: 5px;
  display: inline-block;
  color: white;
}

/*navbar*/
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
  border-bottom: solid 2px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #818181;
  display: inline-block;
  transition: 0.3s;
  margin-bottom: 100px;
  position: relative;
  bottom: 40px;
  left: -22px;
  text-align: center;

}

.sidenav a:hover{
  color: #000000;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#git-hub {
  left: 100px;
  top: 5px;
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

#home {
  width: 40px;
  height: 40px;
  top: 8px;
  right: 90px;
  transition: 0.5s;
}

#home:hover {
  opacity: .2;
  transition: 0.5s;
}

#git-hub:hover {
  opacity: .2;
  transition: 0.5s;
} 



.parallax-img3 {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 1300px;
    background-image: url(pics/3.jpg);
    background-attachment: fixed;
    z-index: -21;
    top: -200px;						

}

 
.html {
  display: inline;
  transition: 1s;
  width: 150px !important;

  
  
}

.css {
  display: inline;
  transition: 1s;
  width: 140px !important;
  left: 180px;
  
}

.js {
  display: inline;
  transition: 1s;
  width: 140px !important;
  left: 410px;
}

.html:hover {
  transition: 1s;
  filter: brightness(10%) !important;
}

.css:hover {
  transition: 1s;
  filter: brightness(10%) !important;
}

.js:hover {
  transition: 1s;
  filter: brightness(10%) !important;
}

h1 {
  margin: 0px 0px 0px 0px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.top-linear {
  background-color: white;
  width: 100%;
  height: 117px;	
  z-index: 23;	
  position: relative;
  top: -5px;
  
}

.bottom-linear {
  background-color: white;
  width: 100%;
  height: 195px;	
  z-index: -12;	
  position: relative;
  margin: 602px 0px 0px 0px;
  
}

.box  {
  background-color: rgba(255, 255, 255, .1);   
  width: 900px;
  height: 300px;
  margin: 400px auto;
  display: table;
  position: relative;
  border: solid 1px;
  font-family: Bebas Neue;
  color: white;									
}

.box p {
  text-align: center;
  font-size: 60px;
  font-family: Bebas Neue;
}

.My-skills {
  font-family: Bebas Neue;
  color: black;
  position: relative;
  z-index: 3;
  padding: 30px 0px 0px 0px;
  font-size: 50px;
  text-align: center;
}




#Form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
  margin-bottom: 4%;
  grid-template-areas:
  "dot1 contact contact dot"
  "dot1 text-me area    dot"
  "dot1 email   area    dot"
  "dot1 subject area    dot" 
  "dot1 submit  submit  dot";
  
}

.contact {
  grid-area: contact;
}

.text-me {
  grid-area: text-me; 
  margin-left: 30%;
}

.email {
  grid-area: email;
  margin-left: 30%;
}

.subject {
  grid-area: subject;
  margin-left: 30%;
}

.area {
  grid-area: area;
  resize: none;
  width: 70%;

}

.submit {
  grid-area: submit;
  width: 50%;
  margin-left: 25%;
}



.Contact-me {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: Bebas Neue;
}


#text {
  border: solid 1px;
  border-radius: 10px;
  padding: 8px;
  font-family: 'Times New Roman';
  
}

#email {
  border: solid 1px;
  border-radius: 10px;
  padding: 8px;
  font-family: 'Times New Roman';
}

#subject {
  z-index: 10;
  border: solid 1px;
  border-radius: 10px;
  padding: 8px;
  font-family: 'Times New Roman';
  
}

#message {
  border: solid 1px;
  border-radius: 10px; 
  font-family: 'Times New Roman';
  resize: none;
  padding: 10px;
}

#submit {
  border: solid 1px;  
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Times New Roman';
  
}


::placeholder {
  font-size: 24px;
  padding: 10px;
  font-weight: bolder;
  color: rgb(65, 64, 64);
  font-family: 'Times New Roman';

}

footer {
  position: relative;
  background-color: black;
  width: 100%;
  height: 150px;
}

.bottom-footer {
  top: 63px;
  position: relative;
  background-color: rgba(233, 233, 233, 0.2);
  width: 100%;
  height: 55px;
  color: white;

}

.bottom-footer  p {
  font-size: 20px;
  color: white;
  font-weight: bold;
  display: inline-block;
  margin-left: 4px;

}

#year {
  font-size: 13px;
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;

}

.upper-footer {
  color: white;
  display: block;
  position: relative;
  font-size: 12px;
  top: 10px;
  margin-left: 4px;
}

.upper-footer p {
  color: white;
  font-family: Bebas Neue;
}

.small-menu {
  display: inline-block;
  transition: 1s;
}

.start {
  top: 10px;
  left: 4px;
  font-size: 13px;
  text-decoration: none;
  color: white;
  transition: 1s;

}

.start > p:hover {
  opacity: .7;
  transition: 1s;
}

#burger-menu.open {
  width:100%;
  height: 4%;
  transition: .58s;
}

#burger-menu {
   width:0%;
   height: 4%;
   transition: .58s;
}




