/*key-frames*/
.default{

  opacity: 0;
}

.default1 {
  animation-name: default1;         
  animation-duration: 1s;             
  animation-fill-mode: forwards;
}

@keyframes default1 { 
  from {opacity: 1;} 
  to {opacity: 0;} 
  }  


.animation_falling_text {
position:  relative;
animation: animate 2s;
animation-fill-mode: forwards; 
z-index: 0;
}

@keyframes animate {
  from {bottom: 300px;}
  to {bottom: 0px;}
}

.animation2_fade { 
  animation-name: animate2;         
  animation-duration: 6s;             
  animation-fill-mode: forwards;    
  } 
@keyframes animate2 { 
  from {opacity: 0;} 
  to {opacity: 1;} 
  }  

.animation3_from_right {
position:  relative;
animation: animate3 1.5s;
animation-fill-mode: forwards; 
}

@keyframes animate3 {
  from {right: -2000px;}
  to {right: 0px;}
}



