/*remove padding from borders of default html site*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}
.container {
  position: relative;
  z-index: -2;
}
/*parallax effect*/
.parallax {
   background-image: url("pics/1.jpg");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 800px;

}
/*that is the first text that is shown when u enter the site (hey im svetozar gospodinov)*/
.white-text  {
	position: relative; 
	color: white;
	text-align: center;
	font-size: 36px;
	top: 350px;
/*that is the lines before my name*/
}

/*its used for the text in the second white blank space*/
.black-text {
	position: relative; ;
	color: black;
	text-align: center;
	font-size: 36px;

	
}
.line::before {
	position: relative;
	content: "____ ";
	top: -18px;
/*these are the lines after my name*/
}
.line::after {
	position: relative;
	content: " ____";
	top: -18px;

}


/*style the second h3 element(at the moment)*/
.line1 {
	font-size: 32px;
	padding:10px;
	font-family:'Lato'; 

}
/*its the second parallax effect*/
.parallax2 {
	  background-image: url("pics/2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;

}
/*grid 3x3 its a grid 3x3*/

/*img-background is used to style grid images so they dont go vertical they should go horizontal*/
.img-background{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;

}
/*items-wrapper is used over all images*/




.items-wrapper {
	position: relative;
  
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

}

/*grid-item style every img individually*/
.grid-item {
	  background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	  max-height: 350px;
	  height: 350px;
	  width: 100%;
	  display: block;

}

.item-wrapper {
	position: relative;
  

/*grid images class*/
}

.darken{
	transition: 1s;
}
.item-wrapper:hover > .darken  {

   filter: brightness(10%);
   transition: 1s;
}


#subtitle {
  top: 150px;
  left: 260px;
  justify-content: center;
  position: absolute;
  color: transparent;
  z-index: 1;
  transition: 1s;
}

.item-wrapper:hover  > #subtitle{

  color: white !important;
}


/*navbar*/
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.burger-menu-btn {
  
  cursor: pointer;
  display: inline-block;
  z-index: 999;
  padding: 30px;

}




.burger-menu-1,
.burger-menu-2,
.burger-menu-3 {
  
  width:52px;
  height: 8px;
  margin: 12px 0;
  transition: 0.3s;
  background-color: gray; 
}

.change .burger-menu-1 {
    transform: rotate(45deg) translate( 4px, 17px);
}

.change .burger-menu-2 {
    opacity: 0;
}

.change .burger-menu-3{
    transform: rotate(-45deg) translate(9px, -27px);
} 

#burger-menu.open {
     width:25%;
}

#burger-menu {
     width:0%;
}





