

.rotate {
	-webkit-animation: rotate 15s linear infinite alternate;
	-moz-animation: rotate 15s linear infinite alternate;
    -o-animation: rotate 15s linear infinite alternate;
    -ms-animation: rotate 15s linear infinite alternate;
    animation: rotate 15s linear infinite alternate;
}

@keyframes rotate {
    0%{
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0%{
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@-moz-keyframes rotate {
    0%{
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}




@-o-keyframes rotate {
    0%{
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}


/*
.icon-refresh-animate {
    animation: rotate 15s linear infinite alternate;
    -moz-animation: rotate 15s linear infinite alternate;
    -ms-animation: rotate 15s linear infinite alternate;
    -o-animation: rotate 15s linear infinite alternate;
    
    display: inline-block;
}
@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes "rotate" {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}
*/